APP_ENV=testing
APP_KEY=YourBase64EncodedKeyHere

CACHE_DRIVER=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
MAIL_MAILER=log
APP_DEBUG=true

DB_CONNECTION=sqlite
DB_DATABASE=/path/to/your/database/database.sqlite